$primary_background_color: #333333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
}

.aot-website {
  background-color: black;
  height: 100vh;
  overflow-y: auto;
  background: linear-gradient(135deg, #217e64, #443d74);
}

@media (min-width: 768px) {
  .aot-website {
    padding: 0 4rem;
  }
}
