$primary_background_color: #333333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
  user-select: none;
}

.aot-website {
  background-color: #191919;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 768px) {
  .aot-website {
    padding: 0 4rem;
  }
}
