$header_main_text_color: #cf8918;

$nav-elem-padding: 10px;
$header-border: 1px solid #f39c12;

@mixin center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aot-site__header {
  display: flex;
  justify-content: space-between;
  border-bottom: $header-border;
  font-size: clamp(
    0.5rem,
    2.5vw,
    1.2rem
  ); /* min, предпочтительный, max размеры шрифта */
  background: linear-gradient(135deg, #5e5d5d, #2f2f2f);
}

.aot-header__logo {
  flex-basis: 5%;
  border-right: $header-border;
  padding: $nav-elem-padding;
}

.aot-header__logo > a {
  @include center_flex;
  color: $header_main_text_color;
}

.aot-header__logo:hover .aot-header__logo__img {
  scale: 1.2;
}

.aot-header__logo__img {
  width: 50px;
  height: 50px;
  transition: scale 0.5s;
}

.aot-header__nav-menu-wrapper {
  @include center_flex;
  flex-basis: 70%;
}

.nav-menu-wrapper__nav {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-menu__elem {
  padding: $nav-elem-padding;
}

.aot-header__bascet {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
  padding: $nav-elem-padding;
  color: $header_main_text_color;
  text-align: right;
}

.aot-header__bascet__logo {
  font-size: 1.7rem;
}

.aot-header__link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: $nav-elem-padding;
}

a {
  text-decoration: none;
  color: $header_main_text_color;
}
