$header_main_text_color: #e5e5e5;

$nav-elem-padding: 0.5rem;
$header-border: 2px solid gray;

@mixin center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aot-site__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgba(128, 128, 128, 0.6);
  font-size: clamp(
    0.5rem,
    2.5vw,
    1.2rem
  ); /* min, предпочтительный, max размеры шрифта */
  background: linear-gradient(135deg, #5e5d5d, #2f2f2f);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.aot-header__logo {
  flex-basis: 5%;
  padding: $nav-elem-padding;
}

.aot-header__logo > a {
  @include center_flex;
  color: $header_main_text_color;
  padding-right: 0.5rem;
  border-right: $header-border;
}

.aot-header__logo:hover .aot-header__logo__img {
  scale: 1.2;
}

.aot-header__logo__img {
  width: 50px;
  height: 50px;
  transition: scale 0.5s;
}

.aot-header__nav-menu-wrapper {
  @include center_flex;
  flex-basis: 70%;
}

.nav-menu-wrapper__nav {
  display: flex;
  list-style: none;
  gap: 3.5rem;
}

.nav-menu__elem {
  padding: $nav-elem-padding;
}

.aot-header__bascet {
  display: flex;
  justify-content: flex-end;
  padding: $nav-elem-padding;
  color: $header_main_text_color;
  text-align: right;
  margin-right: 1rem;
}

.aot-header__bascet__logo {
  font-size: 1.7rem;
}

.aot-header__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-left: 1rem;
  border-left: 2px solid rgb(128 128 128 / 50%);
}

.aot-header__link__bascet-label {
  position: absolute;
  top: 7px;
  right: -10px;
  color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(128, 128, 128, 1);
  width: 20px;
  border-radius: 50%;
  height: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: $header_main_text_color;
}
