$footer_main_text_color: #cf8918;

.aot-site__footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f39c12;
  border-bottom: 1px solid #f39c12;
  background: linear-gradient(135deg, #5e5d5d, #2f2f2f);
}

.aot-footer__logo {
  flex-basis: 25%;
  border-right: 1px solid #f39c12;
  padding: 10px;
}

.aot-footer__logo__img {
  width: 50px;
  height: 50px;
  transition: scale 0.5s;
}

.aot-footer__logo__img:hover {
  scale: 1.2;
}

.aot-footer__nav-menu-wrapper {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
  font-size: clamp(0.5rem, 2.5vw, 1.2rem);
}

.aot-footer__company {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  font-size: clamp(0.5rem, 2.5vw, 1.2rem);
}

.footer-nav-menu-wrapper__title,
.footer-company-contacts__title {
  font-size: clamp(0.7rem, 2.5vw, 1.3rem);
  color: $footer_main_text_color;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.footer-nav-menu-wrapper__nav,
.footer-company-contacts__list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.footer-nav-menu__elem:hover,
.footer-contacts-list__elem:hover {
  text-decoration: underline;
  color: $footer_main_text_color;
}

.aot-footer__author {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  font-size: clamp(0.5rem, 2.5vw, 1.2rem);
  color: $footer_main_text_color;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding-right: 1rem;
}

.aot-footer__author__title {
  margin-left: auto;
}
